/* Device = Most of the Smartphones Mobiles (Portrait) */
$screen-xxs-min: 320px;
$screen-xxs-max: 480px;

/* Device = Low Resolution Tablets, Mobiles (Landscape) */
$screen-xs-min: 481px;
$screen-xs-max: 767px;

/* Device = Tablets, Ipads (portrait) */
$screen-sm-min: 768px;
$screen-sm-max: 1024px;

/* Device = Laptops, Desktops */
$screen-md-min: 1025px;
$screen-md-max: 1280px;

/* Device = Desktops */
$screen-lg-min: 1281px;
$screen-lg-max: 1440px;

/* Higher Resolution Screens */
$screen-xlg-min: 1441px;
$screen-xlg-max: 2560px;

// other variables here

$color-purple:          #0a192f;
$color-light-purple:    rgba($color: #293d5a, $alpha: 0.9);
$color-black:           #0d0d0d;
$color-dark-shade:      #2d3952;
$color-darkred-purple:  #020c1b;
$color-shadow:          rgba(2, 12, 27, 0.9);
$color-dark-purple:     #172a45;
$color-sky-blue:        #8892b0;
$color-light-blue:      #a8b2d1;
$color-blue-white:      #ccd6f6;
$color-white-yellow:    #64ffda;
$color-head-white:      #e6f1ff;
$color-blue-light:      #333f58;
$color-navy-blue:       #606a86;