.m-head {
    font-weight: $font-weight-semibold;
    font-size: 24px;
    letter-spacing: 8px;
    color: $color-black;
}
.s-head {
    font-weight: $font-weight-regular;
    color: $color-black;
    font-size: 1.1em;
    letter-spacing: 0.1em;
}
.p-sub {
    font-size: 0.9em;
    line-height: 25px;
}
.pt-15 {
    padding-top: 15px;
}
.social {
    list-style-type: none;
    li {
        
        a {
            color: #000;
            font-weight: $font-weight-light;
            font-size: 18px;
            margin-right: 20px;
            
        }
    }
}