.m-head {
    font-weight: $font-weight-semibold;
    font-size: 22px;
    letter-spacing: 8px;
    color: $color-black;
}
.s-head {
    font-weight: $font-weight-regular;
    color: $color-black;
    font-size: 1.1em;
    letter-spacing: 0.1em;
}
.p-sub {
    font-size: 0.9em;
    line-height: 25px;
}
.pb-40 {
    padding-bottom: 40px;
}
.link {
    text-decoration: none;
    color: $color-blue;
    font-weight: $font-weight-semibold;
    font-size: 0.8em;
    &:hover {
      text-decoration: none;
    }
}