.m-head {
    font-weight: $font-weight-medium;
    font-size: 1.5em;
    letter-spacing: 7px;
    color: $color-black;
}
.s-head {
    font-weight: $font-weight-regular;
    color: $color-black;
    font-size: 1.1em;
    letter-spacing: 0.1em;
}
.p-sub {
    font-size: 0.9em;
    line-height: 25px;
}
.pt-20 {
    padding-top: 20px;
}
.social {
    list-style-type: none;
    li {
        a {
          color: #000;
          font-weight: $font-weight-light;
          font-size: 18px;
          margin-right: 20px; 
        }
    }
}
.menu-btn {
    font-size: 23px;
    cursor: pointer;
    color: $color-white;
}
.tab-head {
    font-size: 13px;
    letter-spacing: 4px;
    text-align: center;
}