#footer {
    background-color: #e4e4e4;
    padding: 90px 0;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #000;
    font-family: $font-family-poppins;
    .uptotop {
        padding-top: 10px;
        float: right;
        .link {
            color: rgb(97, 97, 97);
            .arrow {
                margin: 5px;
                font-size: 17px; 
            }           
            &:hover {
                color: #000;
                text-decoration: none;
            }
        }
    }
}