#footer {
    background-color: #e4e4e4;
    padding: 90px 0;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #000;
    font-family: 'Poppins', sans-serif;
    .uptotop {
        color: rgb(97, 97, 97);
        padding-top: 10px;
        float: right;
        .arrow {
            margin: 5px;
            font-size: 17px;            
            a {
                color: rgb(97, 97, 97);
                &:hover {
                    color: #000;
                }
            }
        }
    }
}