#home {
    text-align: center;
    background: url('https://images.pexels.com/photos/988872/pexels-photo-988872.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat;
    background-size: cover;
    height: 50vh;
    background-color: rgba(255,255,255,.99);
    .content-holder {
        padding-top: 25vh;
        width: 100%;
    }
}