@import "~bootstrap/scss/bootstrap";

@import "fonts";
@import "variables";
@import "components";

@import "navbar";
@import "home";
@import "synapse";
@import "footer";

html, body {
  background: #fff;
  margin: 0;
  height: 100%;
}

section {
  padding: 0 120px; 
}
