.navbar {
    background: transparent !important;
    margin-top: 10px;
    z-index: 1000;
    top: 0;
    left: 0;
    .navbar-brand {
        color: rgb(255, 255, 255);
        &:hover {
            color: rgb(255, 255, 255);
        }
    }
}
.shrink {
    background: $color-white !important;
    transition: 0.5s ease;
    margin: 0px;
    box-shadow: 0 8px 6px -6px rgba(0,0,0,.4);
    .menu-btn {
        color: #000 !important;
    }
}