#overlay {
    .overlay-nav {
        height: 100vh;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 2000;
        top: 0;
        left: 0;
        background-color: rgb(255, 255, 255);
        .overlay-content {
            position: relative;
            top: 25%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
            .active {
                color: #b1b1b1;
            }
            .overlay-nav-items {
                li {
                    a {
                        font-size: 18px;
                    }
                }                
            }
        }
        .closebtn {
            color: #000;
            position: absolute;
            top: 0;
            right: 0;
            padding: 50px;
            overflow: hidden;
            height: 45px;
            width: 45px;
            background: url('../assets/close.svg') no-repeat center;
        }
        a {
            padding: 8px;
            font-family: $font-family-poppins;
            font-weight: 600;
            text-decoration: none;
            font-size: 26px;
            color: #000;
            display: block;
            transition: 0.3s;                       
        }
        & :hover {
            color: #818181;
        } 
        & :focus {
            color: #818181; 
        }
                
    }
}