#overlay {
    .overlay-nav {
        height: 100vh;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 2000;
        top: 0;
        left: 0;
        background-color: rgb(255, 255, 255);
        .overlay-content {
            position: relative;
            top: 25%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
            .overlay-nav-items {
                li {
                    a {
                        font-size: 18px;
                    }
                }                
            }
        }
        .closebtn {
            color: #000;
            position: absolute;
            top: 0;
            right: 0;
            padding: 50px;
            overflow: hidden;
            height: 45px;
            width: 45px;
            outline: none;
            background: url('../assets/close.svg') no-repeat center;
        }
        .navigation {
            letter-spacing: 0.15em;
            position: relative;
            &:hover {
                color: $color-blue;
                letter-spacing: 0.3em;
            }
        }
        a {
            padding: 8px;
            font-family: $font-family-poppins;
            font-weight: $font-weight-semibold;
            text-decoration: none;
            display: block;
            transition: all 0.3s ease-out;
            text-transform: uppercase;
            font-size: 26px;
            color: #000;  
            &:hover {
                color: $color-blue;                
                font-weight: $font-weight-bold;
            } 
            &:focus {
                color: $color-pink;
            }                  
        } 
    }
}