#synapse {
    padding: 50px 20px;
    .nav {
        border: none;
        padding-bottom: 40px;
        .nav-item {
            .nav-link {
                border: none;
                display: inline-block;
                text-transform: uppercase;
                border-radius: 12px;
                padding: 4px 12px 4px 15px;
                color: $color-black;
                font-family: 'Poppins', sans-serif;
                
            }
            .nav-link.active {
                background-color: #f5f5f5;
            }
        }
    }
    .tab-content {
        .skills-overview {
            padding-bottom: 20px;
        }
        .skills-content {
            .skill-01, .skill-02, .skill-03 {
                padding: 18px 0;
                h4 {
                    color: #BBBBBB;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
                p {
                    padding-top: 12px;
                }
            }
        }
        .projects-content {
            position: relative;
	        display: grid;
            align-content: center;
            justify-content: center;
            align-items: center;
            .content-holder {
                .content-inner {
                    
                }
            }
        }
    }
}