#synapse {
    padding: 50px 20px;
    .nav {
        border: none;
        padding-bottom: 40px;
        .nav-item {
            .nav-link {
                border: none;
                display: inline-block;
                text-transform: uppercase;
                border-radius: 12px;
                padding: 4px 12px 4px 15px;
                color: $color-black;
                font-family: $font-family-poppins;
                
            }
            .nav-link.active {
                background-color: $color-grey;
            }
        }
    }
    .tab-content {
        .about-panel {
            .profile {
                padding-bottom: 25px;
            }
            .about-content {
                font-family: $font-family-poppins;
                p, span, a {                    
                    font-family: $font-family-montessarat;
                }
                h4 {
                    margin-bottom: 20px;
                    font-family: $font-family-poppins;
                    font-weight: $font-weight-semibold;
                }
                p {
                    line-height: 1.7;
                }
                ul {
                    margin: 20px 0 0 0;
                    padding: 0;
                    list-style-type: none;        
                    li {
                        margin-bottom: 9px;
                    }            
                }
                span {
                    font-weight: $font-weight-semibold;
                    margin-right: 5px;
                    padding-left: 5px;
                }
                .links {
                    font-size: 0.8em;
                    margin-top: 10px;
                    color: $color-white;
                    background-color: $color-black;
                    border: 2px solid $color-black;
                    border-radius: 0;
                    padding: 8px 20px;
                    &:hover {
                        background-color: $color-white;
                        color: $color-black;
                    }
                }
            }
        }
        .skills-overview {
            padding-bottom: 20px;
            p {
                font-size: 0.9em;
                line-height: 25px;
                font-weight: $font-weight-medium;
            }
        }
        .skills-content {
            .skill-01, .skill-02, .skill-03 {
                padding: 18px 0;
                h4 {
                    color: #BBBBBB;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
                p {
                    padding-top: 12px;
                    font-weight: $font-weight-medium;
                }
                .progress-bar {
                    background-color: $color-violet;
                }
            }
        }
        .project-highlights {
            .content-inner {
                padding-bottom: 30px;
            }
            .projects-content {
                position: relative;
                display: grid;
                align-content: center;
                justify-content: center;
                align-items: center;                
                .content-holder {
                    h4 {
                        font-size: 1.1em;
                        font-family: $font-family-poppins;
                        font-weight: $font-weight-bold;
                        letter-spacing: 1px;
                        padding-bottom: 5px;
                    }
                    p {
                        color: $color-mid-black;
                        margin-bottom: 0;
                    }
                    ul {
                        padding-top: 8px;
                        margin-bottom: 30px;
                        li {
                            background-color: $color-grey;
                            color: $color-black;
                            font-size: 0.7em;
                            padding: 3px 10px;
                            text-align: center;
                            display: inline-block;
                            border-radius: 12px;
                        }
                    }
                }
            }
        }
        .connect-tab {
            position: relative;
            display: grid;
            align-content: center;
            justify-content: center;
            align-items: center; 
            .content-head {
                padding-bottom: 30px;
            }
            .content-inner {

            }
        } 
    }
}