/*
This file is subject to the terms and conditions defined in
file 'LICENSE.txt', which is part of this source code package.
*/
/*
    Created on : ‎February ‎18, ‎2018, ‏‎9:21:51 AM
    Author     : abhijithvijayan
*/

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/img1.jpeg');
  background-size: cover;  
  background-color: #000;
  background-repeat: no-repeat;  
  padding: 6em 4em 4em 0;
}

@media only screen and (max-width:480px) {
      /* For mobile phones: */

  body {
    padding: 5em 1.25em 1.25em 1.25em;
  }
}

@media screen and (max-width:736px) {
      /* For tablets: */

  body {
    padding: 5em 2em 2em 2em;
  }
}

.container {
  width: 80%;
  margin: 10px 10%;
}

.main3 {
  position: absolute;
  top: 33%;
}

/* ------------------------------------------- */

.header h1 {
  font-size: 3.25em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.7px;
  color: rgb(255, 255 ,255);
  margin: 0 0 0.55em 0;    /* top right bottom left */
}

/* ---RESPONSIVE--- */

@media screen and (max-width: 736px) {
    /* For tablets: */

	.header h1 {
    font-size: 2.25em;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 480px) {
    /* For mobile phones: */

  .header h1 {
    font-size: 1.8em;
    letter-spacing: 1.1px;
    margin: 0 0 1em 0;   /* top right bottom left */
  }
}

/* ------------------------------------------- */

/* Both the lists */

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* ---NAVIGATION BAR--- */

.nav li {
  float: right;
  display: inline;
  padding: 5px;
  font-family: Poppins;
  font-size: 15px;
}

.nav ul a {
  text-decoration: none;
  color: rgba(255, 255 ,255, 0.8);
  border: 1px dotted white;  
  padding: 15px;
  width: 105px;
  text-align: center;
}

.nav ul a:hover {
  font-size: 16px;
  color: white;
  width: 110px;
}

/* ------------------------------------------- */

/* ---SOCIAL ICONS ALL FADING ON HOVERING--- */

.footer {
  display: inline-block;
  height: 25px;
}

.footer:hover a {
  color: rgba(255, 255 ,255, 0.35);
}

/* ---SOCIAL ICONS--- */

.icons li {
  display: inline-block;
}

.icons li a {
  color: rgba(255, 255 ,255, 0.6);
  font-size: 17px;
  padding: 0 10px;
  display: block;
}

.icons li a:hover {
  color: rgba(255, 255 ,255, 0.95);
}

/* ------------------------------------------- */

/* ---HORIZONTAL LINE--- */

.hr {
  width: 100%;
  float: left;
}

@media screen and (max-width:480px) {
  /* For mobile phones: */

  .hr {
    width: 86%;
  }
}

/* ------------------------------------------- */

/* ---JS EFFECT--- */

.typewrite { 
  color: rgba(255, 255 ,255, 0.7);
  font-family: Montserrat;
  font-weight: 400;
  font-size: 0.6em;
  letter-spacing: 2px;
  text-decoration: none;
}

@media screen and (max-width:480px) {
  /* For mobile phones: */

  .typewrite {
    font-size: 0.5em;
    letter-spacing: 1.8px;
  }

/* ------------------------------------------- */

/* ---ABOUT.html--- */

blockquote {
  font-family: Poppins;
  color: rgba(255, 255 ,255, 0.5);
}

.aboutHead {
  font-family: 'Bree Serif', serif;
  font-size: 28px;
  color: violet;
  text-decoration: none;
}

.intro {
  font-family: 'Raleway', sans-serif;
  color: rgba(255, 255 ,255, 0.6);
}

/* ------------------------------------------- */