/*
This file is subject to the terms and conditions defined in
file 'LICENSE.txt', which is part of this source code package.
*/
/*
    Created on : ‎February ‎18, ‎2018, ‏‎9:21:51 AM
    Author     : abhijithvijayan
*/
html {
  margin: 0;
  padding: 0;

}

body {
 /* background:linear-gradient(rgba(97, 98 ,116 , .5), rgba(97, 98 ,116 , .5)), url('../img/img2.jpeg');
  background-image: url('../img/img2.jpeg'); 
  background-size: cover;   */
  background-color: #000;
  background-repeat: no-repeat;  
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  width: 80%;
  margin: 10px 10%;
}

.main {
  font-size: 49px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255 ,255);
  margin-top: 2%;
}

/* Both the lists */

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* ---NAVIGATION BAR--- */

.nav li {
  float: right;
  padding: 4px;
  font-family: Poppins;
  font-size: 15px;
}

.nav li a {
  text-decoration: none;
  color: rgba(255, 255 ,255, 0.8);
  border: 1px dotted white;  
  display: inline-block;
  padding: 15px;
  width: 105px;
  text-align: center;
}

.nav li a:hover {
  font-size: 16px;
  color: white;
  width: 110px;
}

/* ---SOCIAL ICONS--- */

.icons li {
  display: inline-block;
}

.icons li a {
  color: rgba(255, 255 ,255, 0.5);
  font-size: 18px;
  padding: 0 10px;
  display: block;
}

.icons li a:hover {
  color: rgb(255, 255 ,255);
}

.two {
  position: absolute;
  top: 35%;
}


/* -------------------------------------- */

.hr {
  width: 80%;
  float: left;
}

/* ---TRANSFORMATION--- */

.typewrite { 
  color: rgba(255, 255 ,255, 0.7);
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;}

/* --------------------------------------

blockquote {
  font-family: Poppins;
  color: rgba(255, 255 ,255, 0.5);
  width: 50%;
  margin: 15px 3%;
}

#about {
  font-family: 'Bree Serif', serif;
  font-size: 28px;
  color: violet;
  text-decoration: none;
}

.intro {
  font-family: 'Raleway', sans-serif;
  color: rgba(255, 255 ,255, 0.6);
}

.my-qt {
  margin-top: 70px;
}


 -------------------------------------- */